PennyLane==0.40.0
PennyLane_qiskit==0.40.0
PennyLane_qulacs
click==8.1.8
joblib==1.4.2
matplotlib
pandas
qiskit_aer==0.16.1
qiskit_ibm_provider==0.11.0
qiskit_ibm_runtime==0.29.0
qiskit_machine_learning==0.8.2
rdkit==2024.3.6
ripser==0.6.10
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
shap==0.46.0
tqdm==4.67.1
umap==0.1.1
